<div class="row">
  <div class="col-lg-12">

  <h1>お客様情報</h1>

    <dl>
      <dt>お名前</dt>
      <dd><%= @customer.full_name %><br>
      <dt>電子アドレス</dt>
      <dd><%= @customer.email %></dd>
    </dl>

  </div>
</div>
